[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = "*"
"infi.systray" = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.6"

[scripts]
build-prod = "pipenv run pyinstaller --noconfirm ProjectExplorer-PRODUCTION.spec"
build-debug = "pipenv run pyinstaller --noconfirm ProjectExplorer-DEBUG.spec"
