[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = "*"
"infi.systray" = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.6"

[scripts]
main = "pipenv run python src"
test = "pipenv run python src/test.py"
build = "pipenv run pyinstaller cli.py --onefile --name ProjectExplorer --noconfirm --hidden-import=pkg_resources -w"
debugbuild = "pipenv run pyinstaller cli.py --onefile --name ProjectExplorer --noconfirm --hidden-import=pkg_resources --log-level=DEBUG"
